$color_1: #a8b7c5;
$color_2: #409eff;
$color_3: #bedcf0;
$color_4: #495563;

$bg_color_1: #282c34;
$bg_color_2: #2b313c;
$bg_color_3: #252931;
$bg_color_4: #266bb4;
$bg_color_5: #363f637d;

$hover_bg_color_1: #383f4d;

$border_color_1: #222225;
$border_color_2: #4a9df81f;
$border_1: 1px solid $border_color_1;
$border_2: 1px solid $border_color_2;

$box_shadow_1: 2px 3px 7px #111921d4;
