@import 'global.scss';
@import 'mixin.scss';
@import 'element-ui.scss';
@import 'codemirror.scss';
@import 'quill.scss';
@import 'preview-box.scss';
@import 'cmEditor.scss';
@import 'character-panel.scss';
@import 'world-chart.scss';

#app {
  color: $color_1;
  background-color: $bg_color_1;

  .top_bar {
    color: $color_1;
    background-color: $bg_color_1;
    border-bottom: $border_1;
    .el-menu--horizontal {
      .el-submenu {
        .el-submenu__title {
          color: $color_1;
        }
        .el-submenu__title:hover {
          background-color: $hover_bg_color_1;
        }
      }
    }
  }

  .middle_bar {
    .side_bar {
      border-right: $border_1;
      .el-menu {
        color: $color_1;
        background-color: transparent;
        .el-menu-item {
          color: $color_1;
          i {
            color: $color_1;
          }
        }
        .el-menu-item:focus,
        .el-menu-item:hover {
          background-color: $bg_color_2;
        }
        .el-menu-item.is-active {
          color: $color_2;
          i {
            color: $color_2;
          }
        }
      }
    }
    .command_box {
      background-color: $bg_color_2;
      border-color: $border_color_1;
      .result_list {
        .item.active {
          background: $bg_color_1;
        }
      }
      .el-input {
        .el-input-group__append {
          color: $color_1;
          border-color: $border_color_1;
          background-color: $bg_color_1;
        }
      }
    }
    .main {
      .tool_bar {
        border-bottom: $border_1;
        background-color: $bg_color_2;
        .el-button {
          background-color: transparent;
          // tool bar's icon
          i {
            color: $color_1;
          }
        }
        .el-button:hover {
          // tool bar's icon
          i {
            color: $color_2;
          }
        }
      }
      .panel {
        .group_bar {
          border-right: $border_1;
          .el-tree {
            color: $color_1;
            background-color: $bg_color_2;
            .el-tree-node__content:hover {
              background-color: $bg_color_3;
            }

            .el-tree-node:focus > .el-tree-node__content {
              background-color: $bg_color_3;
            }
          }
          // current node
          .el-tree--highlight-current
            .el-tree-node.is-current
            > .el-tree-node__content {
            background-color: $bg_color_3;
          }
        }
        .item_bar {
          border-right: $border_1;
          .header {
            border: $border_1;
            border-left: 0;
            border-right: 0;
            .el-button.el-button--mini {
              color: $color_1;
              border: 0;
              background-color: transparent;
            }
            .el-button.el-button--primary {
              color: $color_2;
            }
            .el-button.is-plain:hover {
              color: $color_1;
              background-color: $bg_color_4;
            }
          }
          .item_list {
            .item.active {
              border-color: $bg_color_4;
              background-color: $bg_color_2;
            }
            .item:hover {
              background-color: $bg_color_2;
            }
            .simple_mode_item {
              // border-bottom: $border_1;
              border-bottom: 0px;
            }
            .detail_mode_item {
              color: $color_1;
              border-bottom: $border_1;
              .top {
                .left {
                  color: $color_2;
                }
                > .right {
                  @include base-btn-1;
                }
              }
            }
          }
        }
        .detail_bar {
          border-left: $border_1;
          .info_box {
            border: $border_1;
            color: $color_1;
            background-color: $bg_color_2;
            .el-tag {
              @include base-btn-1;
            }
            .quill_editor_container {
              .quill_editor_toolbar {
                color: $color_1;
                border: $border_1;
              }
              .quill_editor.ql-container {
                border-color: $border_color_1;
                background-color: $bg_color_1;
                .ql-editor.ql-blank::before {
                  color: $color_4;
                }
              }
              .bottom {
                border: $border_1;
              }
            }
          }
        }
      }
    }
    .contextmenu_bar {
      @include base-popup-1;
      .menu_list {
        .menu_item:hover {
          background-color: $bg_color_4;
        }

        .menu_divider {
          background-color: $border_color_2;
        }
        .menu_group {
          .group_title {
            color: $color_5;
          }
        }
      }
      .el-menu {
        background-color: transparent;
        border: 0;
        .el-menu-item {
          color: inherit;
        }
        .el-menu-item i {
          color: inherit;
        }
        .el-menu-item:hover {
          background-color: $bg_color_4;
        }
      }
    }
  }
  .bottom_bar {
    background-color: $bg_color_4;
    .default,
    .section_box {
      div:hover {
        background-color: $bg_color_6;
      }
    }
  }

  /* 占位符颜色 */
  ::-webkit-input-placeholder {
    color: #9098b1;
  }

  /*滚动条的背景颜色*/
  ::-webkit-scrollbar-thumb {
    background: #34404ea8;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--main_btn_bg_color);
  }
}
