#app {
  .middle_bar {
    .panel {
      .world_chart {
        .chart_content {
          box-shadow: 0 0 10px 1px #111921d4;
          .x6-widget-transform {
            border-color: #7b7a8a;
          }
        }
        .chart_minimap {
          border: $border_1;
          box-shadow: $box_shadow_1;
          .x6-widget-minimap {
            background-color: $bg_color_2;
          }
          .x6-widget-minimap .x6-graph {
            box-shadow: $box_shadow_1;
          }
        }
        .chart_stencil {
          border: $border_1;
          .x6-widget-stencil {
            color: $color_2;
            background-color: $bg_color_2;
            .x6-widget-stencil-title {
              color: $color_2;
              background-color: $bg_color_5;
            }
            .x6-widget-stencil-group {
              .x6-widget-stencil-group-title {
                color: $color_2;
                background-color: $bg_color_5;
              }
            }
          }
        }
        .tool_bar {
          .tools {
            .el-tag {
              @include base-btn-1;
            }
            .el-input-number {
              .el-input .el-input__inner {
                border: 0;
              }
            }
            .el-input-number span {
              @include base-btn-1;
            }
            .el-color-picker.el-color-picker--small {
              .el-color-picker__trigger {
                .el-color-picker__color {
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
