$border-radius: 5px;
$border-color: #e6e6e6;
// dtb: detail bar
$dtb-height: 22px;
$dtb-line-height: 20px;
$dtb-margin: 3px;

// .chmST_sidbar_btn {
//   height: $height;
//   letter-spacing: 1px;
//   margin-right: 5px;
//   text-align: center;

//   user-select: none;
// }
