/* 
主题：默认暗主题
作者：潘志城_Neo
*/

:root {
  --main_color_1: #a8b7c5;
  --main_bg_color_1: #282c34;
  --main_border_color_1: #222225;

  --main_bg_color_2: #1859a0;

  /* --main_bg_color_2: #2c323ecc;
  --main_bg_color_3: #21252dfa;
  --main_bg_color_4: #252931; */

  --main_btn_color: #9fcbe8;
  --main_btn_bg_color: #1859a0;
  --main_btn_border_color: #007accb5;
  --main_btn_color_hover: #ced8ef;
  --main_btn_bg_color_hover: #3068ad;
}

#app {
  color: var(--main_color_1);
  background-color: var(--main_bg_color_1);
}

/* 元素获取焦点时，外框风格-start */
textarea,
input,
button,
select,
canvas,
.vis-network {
  outline: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus,
canvas:focus {
  outline: 1px solid var(--main_btn_bg_color_hover);
}
/* 元素获取焦点时，外框风格-end */

.user_image {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-image: url(../../image/girl.jpg);
  /* opacity: 0.02; */
  background-repeat: no-repeat;
  background-size: 100vw auto;
  /* 鼠标点击事件穿透本图层(意思就是鼠标点击本图层的时候会点击到下面的图层) */
  pointer-events: none;
}

/* 主要颜色 */
.chmCL_main {
  color: var(--main_color_1);
  background: var(--main_bg_color_1);
}

/* 占位符颜色 */
::-webkit-input-placeholder {
  color: #9098b1;
}

/*滚动条的背景颜色*/
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5);
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main_btn_bg_color);
}

.side_bar .el-menu {
  background-color: transparent;
}

#app .top_bar {
  background-color: var(--main_bg_color_1);
}
#app .bottom_bar {
  background-color: var(--main_bg_color_2);
}

#app .group_bar .el-tree {
  color: var(--main_color_1);
  background-color: #2b313c;
}
